$primary-color: #1000B8;
$seconday-color: #DAA520;
$white-color: #F3F3E6;
$heading-color: #1D1912;
$para-color: #1D1912;
$black-color: #1D1912;
$heading-color-2: #1D1912;
$normal-color: #1D1912;
$background: #F3F3E6;
$background-2: #F3F3E6;
$border: #1D1912;
$border-1: #1D1912;

$fm-unna: 'Unna', serif;
$fm-nunito: 'Nunito Sans', sans-serif;